@font-face {
  font-family: "Trebuchet MS";
  src: url("..//..//fonts/trebuchetms.ttf");
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Trebuchet MS";
  flex-direction: column;

}

.card__border {
  margin: 14px;
  position: relative;
  width: 328px;
  height: 488px;
  background-color: #1698D9;
  border-radius: 14px;
  clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%, 0 10%);

}


.card__border.hover {
  background-color: #2ea8e6;
}

.card__border.selected {
  background-color: #D91667;
}

.card__border.selected-hover {
  background-color: #E52E7A;
}

.card__border.disabled {

  background: #B3B3B3;
}


.card__container {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 320px;
  height: 480px;
  background-color: #f2f2f2;
  border-radius: 11px;
  clip-path: polygon(14.7% 0, 100% 0, 100% 100%, 0 100%, 0 9.7%);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  cursor: pointer;

}

.card__container.disabled {
  pointer-events: none;
  opacity: 0.3;
  background: #F2F2F2;
}

.card__text_grey {
  color: #666666;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-left: 48px;
}

.card__text_purp {
  color: #E62E7A;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-left: 48px;
}

.card__text {
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  margin: 0;
  margin-left: 48px;
}

.card__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  margin: 0;
  margin-left: 48px;
}

.card__title_small {
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 15px;
  line-height: 28px;
}

.grey {
  color: #666666;
  font-size: 14px;
  line-height: 16px;
  max-width: 150px;
}

.grey:nth-child(odd){
  margin-bottom: 26px;
}

.card__circle {
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: #1698D9;
  z-index: 10;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.card__circle.hover {
  background-color: #2ea8e6;
}

.card__circle.selected {
  background-color: #D91667;
}

.card__circle.selected-hover {
  background-color: #E52E7A;
}

.card__circle.disabled {
  background-color: #B3B3B3;
}

.card__weight {
  color: #ffffff;
  font-weight: 400;
  font-size: 42px;
  line-height: 22px;
  margin: 25px 0 2px 0;
}

.card__weight_small {
  font-size: 21px;
  margin: 0;
  color: #ffffff;
  font-weight: 400;
  line-height: 35px;
}

.card__text_after {
  color: #ffffff;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
}

.card__text_after_a {
    color: #1698D9;
    text-decoration: underline dotted ;
}

.card__text_after_a.hover{
  color: #2ea8e6;
}

.card__text_after_disabled {
  color: #FFFF66;
}


@media (max-width: 767px) {
  .card {
    width: 100%;
  }
}
